.modal__content_type_image {
  max-width: 498px;
  max-height: 610px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal__image {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: auto;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-height: 498px;
}

.modal__close_preview {
  height: 16px;
  width: 16px;
  opacity: 1;
  z-index: 1;
  background-image: url(../../images/close-preview.svg);
}

.modal__footer {
  padding: 20px 32px 32px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__caption {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.modal__weather {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
